# Python virtual environment directory
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyd

# Mac system files
.DS_Store

# Local env and artifacts
.venv/
.env
*.sqlite3
db.sqlite3
cloudflared
cloudflared.exe

